<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/registrations">Registrations</a></li>
            <li><a href="http://127.0.0.1:5000/sessions">Parliamentary sessions</a></li>
            <li><a href="http://127.0.0.1:5000/graphics">Graphics</a></li>
        </ul>
    </nav>
</body>
</html>