<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='table.css')}}">

    <script src="https://cdn.jsdelivr.net/npm/gridjs/dist/gridjs.umd.js"></script>
    <!--link href="https://cdn.jsdelivr.net/npm/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" /-->
</head>
<body>

<form action="{{ url_for('registrations') }}" method="post" autocomplete="off">
    <nav class="navbar">
        <ul>
            <li><a href="http://127.0.0.1:5000/">Home</a></li>
            <li><a href="http://127.0.0.1:5000/registrations">Registrations</a></li>
            <li><a href="http://127.0.0.1:5000/sessions">Parliamentary sessions</a></li>
            <li><a href="http://127.0.0.1:5000/graphics">Graphics</a></li>
        </ul>
    </nav>
    <div class="form-group">
        <label class="cols-sm-2 control-label">Въведете партия:</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
             <label for="party"></label>
             <input type="text" class="form-control" name="party" id="party" placeholder="регистрация"/>
         </div>
        </div>
        <label class="cols-sm-2 control-label">Въведете регистрация:</label>
        <div class="cols-sm-10">
         <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
             <label for="name"></label>
             <input type="text" class="form-control" name="name" id="name" placeholder="регистрация"/>
         </div>
        </div>
       </div>
    <input type="submit">

    <div id="wrapper"></div>
<script type="text/javascript">
    //new gridjs.Grid({
    console.log({
        columns: ['Регистрация:', 'партия', 'присъстват', 'по списък', 'онлайн'],
        data: "{{ data|safe }}"
    });
    //new gridjs.Grid({
  //columns: ["Name", "Email", "Phone Number"],
  //data: [
  //  ["John", "john@example.com", "(353) 01 222 3333"],
  //  ["Mark", "mark@gmail.com", "(01) 22 888 4444"],
  //  ["Eoin", "eoin@gmail.com", "0097 22 654 00033"],
   // ["Sarah", "sarahcdd@gmail.com", "+322 876 1233"],
   // ["Afshin", "afshin@mail.com", "(353) 22 87 8356"]
  //]
//}).render(document.getElementById("wrapper"));
</script>

    <table>
        <tbody>

        </tbody>
    </table>
</form>
</body>
</html>
